@using Todo.WebApp.Controllers
@using static Todo.WebApp.Controllers.ControllerExtensions
@model Todo.WebApp.SharedModels.TodoList

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section pageNav {
    <a class="nav-link" href="
        @Url.Action(
            nameof(TodoListController.Edit),
            RoutingName<TodoListController>(),
            new { listId = Model.Id }
        )
    ">
        Edit
    </a>
}

<h1>@Model.Title</h1>
<ul>
    @foreach (string item in Model.Items)
    {
        <li>@item</li>
    }
</ul>
