.navbar {
    background-color: #ffff85;
}

.navbar .nav-link {
    color: black;
}

.list-group-item {
    background-color: #FFFFC2;
    border-color: #468189;
}

h1 {
    text-decoration: underline;
}
